<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dylangao.networktrafficmonitor">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:screenOrientation="portrait"
                android:name=".ui.TrafficDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <receiver android:name= ".ui.UpdateUIReceiver"/>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TrafficAppDetailActivity">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TrafficSettingActivity">
        </activity>

	<provider android:name=".database.NetworkTrafficProvider"
	        android:authorities="com.dylan.networktraffic"
	        android:exported="false">	        
	    </provider>

        <service android:name = ".service.MonitorService"></service>
 
        <receiver android:name= ".service.BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
